<div class="page-header">
  <h1>Welcome {{session.user.username}}</h1>

  <div class="flex layout-row layout-wrap">
    {{#each overviewCards as |overview|}}
      <div class="flex-20">
        {{#paper-card as |card|}}

          {{#card.title as |title|}}
            {{#title.text as |text|}}
              {{#text.headline}}
                {{overview.name}}
              {{/text.headline}}
              {{#text.subhead}}
                {{overview.display}}
              {{/text.subhead}}
            {{/title.text}}
            {{#title.media size='ms'}}
              {{paper-icon overview.icon size=64}}
            {{/title.media}}
          {{/card.title}}
        {{/paper-card}}
      </div>
    {{/each}}
  </div>
  <div class="flex layout-row" style="height: 350px">
    {{am-chart-graph class="flex layout-row" values=session.hazards}}
  </div>
</div>