<div class="page-header">
  <h1>Welcome {{session.user.username}}</h1>
</div>

<div class="layout-row layout-wrap">

  {{#paper-card}}
    <div style="padding: 10px">
      {{paper-icon 'security'}}
      Shields: {{session.user.shieldassociations.length}}
    </div>
  {{/paper-card}}

  {{#paper-card}}
    <div style="padding: 10px">
      {{paper-icon 'warning'}}
      Hazards: {{session.user.hazardEvents.length}}
    </div>
  {{/paper-card}}

</div>


{{ember-chart type='line' data=chartData options=options}}