<div class="page-header">
  <h1>Welcome {{session.user.username}}</h1>

  <div class="flex layout-row layout-wrap layout-xs-column">
    {{#each overviewCards as |overview|}}
      <div class="flex-xs flex-sm-30" style="cursor: pointer" onclick={{action 'transitionTo' overview.link}}>
        <Paper-Card as |card|>
          <R-C @comp={{card.title}} as |title|>
            <R-C @comp={{title.text}} as |text|>
              {{#text.headline}}
                {{overview.name}}
              {{/text.headline}}
              {{#text.subhead}}
                {{overview.display}}
              {{/text.subhead}}
            </R-C>
            {{#title.media size='gt'}}
              {{paper-icon overview.icon size=64}}
            {{/title.media}}
          </R-C>
        </Paper-Card>
      </div>
    {{/each}}
  </div>
  <div class="flex layout-row" style="height: 350px">
    <Am-Chart-Graph @class="flex layout-row" @users={{session.users}} />
  </div>
</div>