<div class="bx--tile">
  <section class="bx--structured-list">
    <div class="bx--structured-list-thead">
      <div class="bx--structured-list-row bx--structured-list-row--header-row">
        <div class="bx--structured-list-th">Actions</div>
        <div class="bx--structured-list-th"></div>
      </div>
    </div>
    <div class="bx--structured-list-tbody">
      {{#each model as |action index|}}
        <div class="bx--structured-list-row">
          <div class="bx--structured-list-td bx--structured-list-content--nowrap">
            <p>{{action.userId}}</p>
            <p>{{action.description}}</p>
            <p>{{action.type}}</p>
            <p>{{to-json action.callbackAction}}</p>
          </div>
          <div class="bx--structured-list-td">
            <BxIcon @icon="edit" @info="true" @onClick={{action 'edit' action}} />
            <BxIcon @icon="delete" @danger="true" @onClick={{action 'delete' action}} />
          </div>
        </div>
      {{/each}}
      <div class="bx--structured-list-row">
        <div class="bx--structured-list-td bx--structured-list-content--nowrap">
          <BxButton @primary="true" @onClick={{action 'addNew'}}>
            New <BxIcon @icon="add" />
          </BxButton>
        </div>
        <div class="bx--structured-list-td">

        </div>
      </div>
    </div>
  </section>
</div>