<div class="bx--grid">
  <div class="bx--row">
  {{#each overviewCards as |overview|}}
    <div class="bx--col-sm-3 bx--col-lg-2 bx--col-xs-12" style="cursor: pointer" onclick={{action 'transitionTo' overview.link}}>
      <BxTile>
        <div class="bx--grid">
          <div class="bx--row">
            <div class="bx--col-xs-7 bx--col-sm-5">
              <h4>{{overview.name}}</h4>
              <p>
                {{overview.display}}
              </p>
            </div>
            <div class="bx--col-xs-1">
              <BxIcon @icon={{overview.icon}} @size=64></BxIcon>
            </div>
          </div>
        </div>
      </BxTile>
    </div>
  {{/each}}
  </div>
</div>
<div class="" style="height: 350px">
  <Am-Chart-Graph @class="flex layout-row" @users={{session.users}} />
</div>
