{{!bs-breadcrumbs selected=(readonly currentSection) content=sectionNames onItemSelected=(action 'showSection')}}

<div style="max-width: 350px"  class="{{sectionContent.content.id}}">

  {{#if (and iniData fieldsets)}}
    {{#json-form
      fieldsets=fieldsets
      iniData=iniData
      onSubmit=(action 'onSubmit')
      onChange=(action 'onChange')
      globalOptions=globalOptions
    as |form|
    }}
      <form class="form">
        {{#form.fieldsets as |fieldset|}}

        {{!show informativ text}}
          {{#each fieldset.self.messages as |message|}}
            <div class="bs-callout bs-callout-primary">
              <p>
                {{{message.text}}}
              </p>
            </div>
            <br>
          {{/each}}

          <fieldset class="{{fieldset.self.id}}" style="position:relative;">

            {{#if fieldset.self.legend}}
              <legend>
                {{fieldset.self.legend}}
                <br>
                <small>{{fieldset.self.sub-legend}}</small>
              </legend>
            {{/if}}

            {{#fieldset.fields as |field|}}
              {{#field.input as |input|}}

                <div class="{{field.self.type}} {{field.self.style_class}} form-group">

                  {{!field label}}
                  {{#if (and field.self.label (not-eq field.self.type 'checkbox'))}}
                    <label for="{{field.self.name}}" class="{{if field.self.validations.presence 'required' ''}}">
                      {{field.self.label}} {{if-multiple field.self '(Mehrfachauswahl)'}}
                    </label>
                  {{/if}}

                  {{#if field.self.help}}
                    <span class="pull-right glyphicon glyphicon-info-sign" {{bs-bind-tooltip content=field.self.help}}></span>
                  {{/if}}

                  {{!field input and validation messages, also supports input-group-addon}}
                  {{#input-group isGroup=field.self.addon field=field.self}}
                    {{input.component classNames='form-control' errors=input.validation.messages}}
                    {{#if (eq field.self.type 'file')}}
                      uploaded: <a href="{{ajax.host}}{{get form.self.iniData input.self.formPath}}?token={{session.authToken}}">link</a>
                    {{/if}}
                  {{/input-group}}

                  {{!in case of async validation}}
                  {{#if input.validation.isValidating}}
                    <p class="text-info">validating...</p>
                  {{/if}}

                  {{#if (or checkValidations input.showMessage (eq field.self.type 'dummy'))}}
                    {{#each input.validation.messages as |message|}}
                      <div class="text-danger">{{message}}</div>
                    {{/each}}
                  {{/if}}

                </div>
              {{/field.input}}
            {{/fieldset.fields}}
          </fieldset>

        {{/form.fieldsets}}

        {{#if checkValidations}}
          {{#each form.self.validations.errors as |error|}}
            <div class="alert alert-danger">
              <strong>{{form-attr-translate error.attribute form.self.fieldsets}}:</strong> {{error.message}}</div>
          {{/each}}
        {{/if}}

        {{#if form.self.validations.isInvalid}}

          Bitte alle Felder mit <span style="color: red">*</span> ausfüllen
          {{#bs-button isActive=checkValidations onClick=(action toggleProperty 'checkValidations') disabled=loading class='pull-right'}}
            Zeig mir welche
          {{/bs-button}}

        {{else}}

          {{#if (and noNewData formSaved hasNext)}}
            {{#bs-button onClick=(action 'showNextSection') class='pull-right'}}
              FÜLLEN SIE NUN DIE NÄCHSTE SECTION AUS
            {{/bs-button}}
          {{else}}
            {{#bs-button onClick=form.onSubmit disabled=(or loading noNewData) class='pull-right'}}
              Speichern {{#if loading}}<img height="23px" src="{{resourceManager.loader}}">{{/if}}
            {{/bs-button}}
          {{/if}}

        {{/if}}
      </form>
    {{/json-form}}
  {{/if}}
</div>
