<Paper-Card as |card|>

  {{#card.title as |title|}}
    {{#title.text as |text|}}
      {{#text.headline}}
        {{shield.name}} <span class="badge">{{shield.type}}</span>
      {{/text.headline}}
      {{#text.subhead}}{{shield.description}}{{/text.subhead}}
    {{/title.text}}
  {{/card.title}}

  {{#card.content}}
  {{/card.content}}

  {{#card.actions}}
    <Paper-Button @onClick={{action 'showDetails'}} @raised=true primary=true>Details</Paper-Button>
    <Paper-Button @onClick={{action 'delete'}} @raised=true warn=true>Delete</Paper-Button>
    <Paper-Button @onClick={{action 'deactivate'}} raised=true>Deactivate</Paper-Button>
  {{/card.actions}}
</Paper-Card>