<Paper-Card as |Card|>

  <Card.title as |Title|>
    <Title.text as |Text|>
      <Text.headline>
        {{shield.name}} <span class="badge">{{shield.type}}</span>
      </Text.headline>
      <Text.subhead>{{shield.description}}</Text.subhead>
    </Title.text>
  </Card.title>

  <Card.content></Card.content>

  <Card.actions>
    <Paper-Button @onClick={{action 'showDetails'}} @raised=true primary=true>Details</Paper-Button>
    <Paper-Button @onClick={{action 'delete'}} @raised=true warn=true>Delete</Paper-Button>
    <Paper-Button @onClick={{action 'deactivate'}} raised=true>Deactivate</Paper-Button>
  </Card.actions>
</Paper-Card>