<div class="bx--tile">
  <section class="bx--structured-list">
    <div class="bx--structured-list-thead">
      <div class="bx--structured-list-row bx--structured-list-row--header-row">
        <div class="bx--structured-list-th">Shields</div>
        <div class="bx--structured-list-th"></div>
      </div>
    </div>
    <div class="bx--structured-list-tbody">
      {{#each model as |shield index|}}
        <div class="bx--structured-list-row">
          <div class="bx--structured-list-td bx--structured-list-content--nowrap">
            <p>#{{shield.id}} {{shield.name}}</p>
          </div>
          <div class="bx--structured-list-td">
            <BxIcon @icon="edit" @info="true" @onClick={{action 'goToShield' shield}}/>
            <span style="width: 10px; display: inline-block;"></span>
            <BxIcon @icon="delete" @danger="true" @onClick={{action 'deleteShield' shield}}/>
          </div>
        </div>
      {{/each}}
      <div class="bx--structured-list-row">
        <div class="bx--structured-list-td bx--structured-list-content--nowrap">
          <BxButton @primary="true" @onClick={{action 'goToNewShield'}}>
            New <BxIcon @icon="add" />
          </BxButton>
        </div>
      </div>
    </div>
  </section>
</div>