<div class="bx--grid">
  <div class='bx--row'>
    <div class='bx--col-sm-6'>
      <BxTile>
        <h4>{{shield.name}}</h4>
        <small>{{shield.id}}</small>
        <br>
        <br>
        <div style='max-width: 300px'>
          <BxInput @value={{shield.name}} @label="Name" @onChange={{action (mut shield.name) value}} />
          <BxInput @value={{shield.description}} @label="Description" @onChange={{action (mut shield.description) value}} />
          <BxSelect
            @placeholder="Choose actions"
            @multiple={{true}}
              @content={{actionsArray}}
            @removeItem={{action "removeAction"}}
              @addItem={{action "addAction"}}
            @searchField="name"
            @onfocus={{action "selectFocused"}}
              @options={{actionOptionsArray}} as |act|>
            {{act.name}} <br> <small>{{default-to act.description 'no description'}}</small>
          </BxSelect>
        </div>
      </BxTile>
    </div>
    <div class='bx--col-sm-6'>
      <section class="bx--structured-list">
        <div class="bx--structured-list-thead">
          <div class="bx--structured-list-row bx--structured-list-row--header-row">
            <div class="bx--structured-list-th">{{shield.name}}: Shield Codes</div>
            <div class="bx--structured-list-th"></div>
          </div>
        </div>
        <div class="bx--structured-list-tbody">
          {{#each shield.codes as |shieldCode|}}
            <div class="bx--structured-list-row">
              <div class="bx--structured-list-td bx--structured-list-content--nowrap">
                <h3>{{shieldCode.name}}</h3>
                <p>{{shieldCode.description}}</p>
              </div>
              <div class="bx--structured-list-td">
                <BxCheckbox @checked={{shieldCode.enabled}} @onChange={{action (mut shieldCode.enabled)}} />
                <BxIcon @icon="edit" @info="true" @onClick={{action 'goToShieldCode' shieldCode}}/>
                <span style="width: 10px; display: inline-block;"></span>
                <BxIcon @icon="delete" @danger="true" @onClick={{action 'deleteShieldCode' shieldCode}}/>
              </div>
            </div>
          {{/each}}
        </div>
      </section>
    </div>
  </div>
</div>