<div class="bx--tile">
  <section class="bx--structured-list">
    <div class="bx--structured-list-thead">
      <div class="bx--structured-list-row bx--structured-list-row--header-row">
        <div class="bx--structured-list-th">Devices</div>
        <div class="bx--structured-list-th"></div>
      </div>
    </div>
    <div class="bx--structured-list-tbody">
    {{#each model as |device index|}}
      <div class="bx--structured-list-row">
        <div class="bx--structured-list-td bx--structured-list-content--nowrap">
        <h3>{{device.vendorId}}</h3>
          <p>{{device.userId}}</p>
          <p>{{device.description}}</p>
          <p>{{device.type}}</p>
        </div>
        <div class="bx--structured-list-td">
          <BxButton @secondary=true @danger=true @onClick={{action 'delete' device}}>Delete</BxButton>
        </div>
      </div>
    {{/each}}
    </div>
  </section>
</div>