  <div class="{{styleNamespace}} main">
  <Carbon::BxSidenav
    @menuItems={{menuItems}}
    @transitionTo={{action 'transitionTo'}}
    @open={{leftSideBarOpen}}
    @onToggle={{action (mut leftSideBarOpen)}}
  />

  <div class="container {{if leftSideBarOpen '' 'container--expanded'}}">
    <div class="page-header">
      <h4 class="page-header__label">{{if currentSubMenu.title currentMenu.title currentSubMenu.title}}</h4>
      <h1 id="page-title" class="page-header__title">{{if currentSubMenu.title currentSubMenu.title currentMenu.title}}</h1>
      <Paper-Toolbar-Tools>

        <span class="flex"></span>

        <Paper-Button @iconButton=true>
          <Paper-Menu as |menu|>
            <menu.trigger>
              <Paper-Icon @icon="account circle"/>
            </menu.trigger>
            <menu.content @width=4 as |content|>
              <content.menu-item @onClick={{action 'logout'}} >
                Logout
              </content.menu-item>
            </menu.content>
          </Paper-Menu>
        </Paper-Button>

      </Paper-Toolbar-Tools>
    </div>
    <div class="main-content">
      {{outlet}}
    </div>
    <Paper-Toaster/>
  </div>
</div>