<div class="{{styleNamespace}} main">
  <Carbon::Sidenav
    @menuItems={{menuItems}}
    @transitionTo={{action 'transitionTo'}}
    @open={{leftSideBarOpen}}
    @onToggle={{action (mut leftSideBarOpen)}}
  >
    <div class="page-header">
      <h4 class="page-header__label">{{if currentSubMenu.title currentMenu.title currentSubMenu.title}}</h4>
      <h1 id="page-title" class="page-header__title">
        {{if currentSubMenu.title currentSubMenu.title currentMenu.title}}
      </h1>
      <div style="width: 100%">
        <span class="flex"></span>
        <Carbon::Menu @icon="user" @menu={{userMenu}} @onClick={{action 'onMenuClicked'}}/>
      </div>
    </div>
    <nav aria-label="navigation" href="#" class="bx--tabs page-tabs" role="navigation">
      <div role="listbox" aria-label="listbox" tabindex="0" class="bx--tabs-trigger">
        <a tabindex="-1" class="bx--tabs-trigger-text" href="#">{{currentTab.title}}</a>
        <svg fill-rule="evenodd" height="5" role="img" viewBox="0 0 10 5" width="10" aria-label="show menu options"
             alt="show menu options"><title>show menu options</title>
          <path d="M0 0l5 4.998L10 0z"></path>
        </svg>
      </div>
      <ul role="tablist" class="bx--tabs__nav {{if smallScreen 'bx--tabs__nav--hidden'}}">
        {{#each currentMenu.tabs as |tab|}}
          <li role="presentation" tabindex="-1" class="bx--tabs__nav-item {{if (eq currentTab tab) 'bx--tabs__nav-item--selected'}}">
            <a class="bx--tabs__nav-link" onclick={{action 'transitionTo' tab.routeName}} href="#" role="tab" tabindex="0" aria-selected="{{if (eq currentMenu.currentTab tab) 'true'}}">{{tab.title}}</a>
          </li>
        {{/each}}
      </ul>
    </nav>
    <div class="main-content">
      {{outlet}}
    </div>
  </Carbon::Sidenav>
</div>
