<div class="{{styleNamespace}} main">
  {{#paper-sidenav-container class='layout-fill'}}

    {{#paper-sidenav
      class="md-whiteframe-z2 site-sidenav"
      name="left"
      open=leftSideBarOpen
      onToggle=(action (mut leftSideBarOpen))
    }}
      {{#paper-toolbar as |toolbar|}}
        {{#paper-toolbar-tools}}Menu{{/paper-toolbar-tools}}
      {{/paper-toolbar}}
      {{#paper-content}}
        {{#paper-list}}

          {{#each menuItems as |menu|}}
            {{#menu-item active=(eq currentRouteName menu.routeName) onClick=(action 'transitionTo' menu.routeName)}}
              {{menu.title}}
              {{paper-icon menu.icon}}
            {{/menu-item}}
          {{/each}}

        {{/paper-list}}
      {{/paper-content}}
    {{/paper-sidenav}}

    {{#paper-card-content class="flex"}}
      <div class="layout-fill layout-column">
        {{#paper-toolbar theme='default' as |toolbar|}}
          {{#paper-toolbar-tools}}

            {{currentRouteName}}

            {{#paper-sidenav-toggle name="left" as |toggleAction|}}
              {{#paper-button raised=true classNames="hide-gt-sm" onClick=(action toggleAction)}}
                Toggle
              {{/paper-button}}
            {{/paper-sidenav-toggle}}

            <span class="flex"></span>

            {{#paper-button iconButton=true}}
              {{#paper-menu as |menu|}}
                {{#menu.trigger}}
                  {{#paper-button iconButton=true}}
                    {{paper-icon "account circle"}}
                  {{/paper-button}}
                {{/menu.trigger}}
                {{#menu.content width=4 as |content|}}
                  {{#content.menu-item onClick=(action 'logout')}}
                    Logout
                  {{/content.menu-item}}
                {{/menu.content}}
              {{/paper-menu}}
            {{/paper-button}}

          {{/paper-toolbar-tools}}
        {{/paper-toolbar}}

        <div class="main-content">
          {{outlet}}
        </div>
      </div>
    {{/paper-card-content}}
  {{/paper-sidenav-container}}
</div>