<div class="{{styleNamespace}} main">
  <Paper-Sidenav-Container @class='layout-fill'>

    <Paper-Sidenav
      @class="md-whiteframe-z2 site-sidenav"
      @name="left"
      @open={{leftSideBarOpen}}
      @onToggle={{action (mut leftSideBarOpen)}}
    >
      <Paper-Toolbar as |toolbar|>
        <Paper-Toolbar-Tools>Menu</Paper-Toolbar-Tools>
      </Paper-Toolbar>
      <Paper-Content>
        <Paper-List>
          {{#each menuItems as |menu|}}
            {{#if menu.submenus}}
              <Menu-Item @canExpand=true @expanded={{get this (concat menu.title '-expanded')}} @active={{eq currentMenu menu}}  @onClick={{action 'toggleExpandedItem' menu.title bubbles=false}}>
                <Paper-Icon @icon="{{menu.icon}}" />
                {{menu.title}}
              </Menu-Item>
              <div class="submenu">
              {{#liquid-if (get this (concat menu.title '-expanded'))}}
                {{#each menu.submenus as |submenu|}}
                  <Submenu-Item @active={{eq currentMenu submenu}} @onClick={{action 'transitionTo' submenu.routeName}} >
                    <Paper-Icon @icon="{{submenu.icon}}" />
                    {{submenu.title}}
                  </Submenu-Item>
                {{/each}}
              {{/liquid-if}}
              </div>
            {{else}}
              <Menu-Item @active={{eq currentMenu menu}} @onClick={{action 'transitionTo' menu.routeName}}>
                <Paper-Icon @icon="{{menu.icon}}" />
                {{menu.title}}
              </Menu-Item>
            {{/if}}

          {{/each}}
        </Paper-List>
      </Paper-Content>
    </Paper-Sidenav>

    <Paper-Card-Content @class="flex">
      <div class="layout-fill layout-column">
        <Paper-Toolbar @theme='default' as |toolbar|>
          <Paper-Toolbar-Tools>

            <Paper-Sidenav-Toggle @name="left" as |toggleAction|>
              <Paper-Button @iconButton=true @classNames="hide-gt-sm" @onClick={{action toggleAction}}>
                <Paper-Icon @icon="menu"/>
              </Paper-Button>
            </Paper-Sidenav-Toggle>

            {{currentMenu.title}}

            <span class="flex"></span>

            <Paper-Button @iconButton=true>
              <Paper-Menu as |menu|>
                <menu.trigger>
                  <Paper-Icon @icon="account circle"/>
                </menu.trigger>
                <menu.content @width=4 as |content|>
                  <content.menu-item @onClick={{action 'logout'}} >
                    Logout
                  </content.menu-item>
                </menu.content>
              </Paper-Menu>
            </Paper-Button>

          </Paper-Toolbar-Tools>
        </Paper-Toolbar>

        <div class="main-content">
          {{outlet}}
        </div>
        <Paper-Toaster/>
      </div>
    </Paper-Card-Content>
  </Paper-Sidenav-Container>
</div>