<div class="bx--tile">
  <section class="bx--structured-list">
    <div class="bx--structured-list-thead">
      <div class="bx--structured-list-row bx--structured-list-row--header-row">
        <div class="bx--structured-list-th">Hazards</div>
        <div class="bx--structured-list-th"></div>
      </div>
    </div>
    <div class="bx--structured-list-tbody">
      {{#each model as |hazard index|}}
        <div class="bx--structured-list-row">
          <div class="bx--structured-list-td bx--structured-list-content--nowrap">
            <h3>{{default-to hazard.user.name hazard.userId}}</h3>
            <h4>{{default-to hazard.shield.name "<does not exist>"}}</h4>
            <p>At {{moment hazard.createdAt}}</p>
            <p>{{hazard.actionParams.hazardTitle}}</p>
          </div>
          <div class="bx--structured-list-td">
            {{#if hazard.ishandled}}
              <Carbon::Icon @icon=check" @class="check"/>
            {{else}}
              <Carbon::Button @onClick={{action 'ack' hazard}}>Ack</Carbon::Button>
              <span style="width: 10px; display: inline-block;"></span>
            {{/if}}
            <Carbon::Button @danger="true" @onClick={{action 'delete' hazard}}>Delete</Carbon::Button>
          </div>
        </div>
      {{/each}}
    </div>
  </section>
</div>