<div class="layout-row layout-wrap flex">
  <div class="layout-column flex-xs flex-gt-50">
  <Paper-Card as |card|>
    <Paper-Toolbar as |toolbar|>
      <Paper-Toolbar-Tools>Hazards</Paper-Toolbar-Tools>
    </Paper-Toolbar>
    {{#card.content as |content|}}
      <Paper-List>
        {{#each model as |hazard index|}}
          <Paper-Item @class="md-3-line" as |controls|>
            <div class="md-list-item-text">
              <h3>{{default-to hazard.user.name hazard.userId}}</h3>
              <h4>{{default-to hazard.shield.name "<does not exist>"}}</h4>
              <p>At {{moment hazard.createdAt}}</p>
              <p>{{hazard.actionParams.hazardTitle}}</p>
            </div>
            <Paper-Divider/>
            <div class="md-secondary-container">
              {{#if hazard.ishandled}}
                <Paper-Icon @icon=check" @class="md-avatar-icon"/>
              {{else}}
                <R-C @comp={{controls.button primary=true}} >
                  Ack
                </R-C>
              {{/if}}
              <R-C @onClick={{action 'delete'}} @comp={{controls.button warn=true}} >
                Delete
              </R-C>
            </div>
          </Paper-Item>
        {{/each}}
      </Paper-List>
    {{/card.content}}
  </Paper-Card>
  </div>
</div>