<button onclick={{action onClick}}
        class="bx--btn {{bxClassNames}}"
        aria-label="{{if danger 'danger'}}"
        disabled={{disabled}}
        type="button">
  {{#if hasBlock}}
    {{yield}}
  {{else}}
    {{label}}
  {{/if}}
</button>